doctype html
html("data-ng-app"="Espresso")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .menu
      nav
        ul
          li
            a(href="/") Homepage
           
          -if (userID)
            li
              a(href="/users/profile")=userID
            li
              a(href="/users/logout") Logout
          -else
            li
              a(href="/users/login") Login
            li
              a(href="/users/signup") Register

-if (notice)
  .notice
    strong=notice

#view
  block content

script(src="/bower_components/angular/angular.js")
script(src="/bower_components/angular-route/angular-route.js")
script(src="/javascripts/app.js")


